@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Heebo:200');

/* General Styles */

html {
  font-family: 'Roboto', sans-serif;
} 
#image {
  position:absolute;
  z-index:999;
  top:0;
  left:0;
  height:50px;
  width:50px;
  opacity:0.8;
  font:10px/10px monospace;
  overflow:hidden;
  pointer-events:none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #1d5374;
  color: white;
  font-size: 18px;
  text-align: center;
}

body {
  background-color: #1d5374;
  background-image: url("ross-parmly-25230-unsplash.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  margin: 0;
}

#pageTitle, h1 {
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  font-size: 80px;
  font-size: 48px;
  text-align: center;
  color: #ffffff;
}

h2 {
  text-align: center;
  color: #1d5374;
}

/* Menu Buttons Styles */

.button {
  border-radius: 10px;
  height: 30px;
  width: 100px;
  flex: 1 0 25%;
  text-align: center;
  font-size: 15px;
  margin: auto;
}

div#buttons-container {
  text-align: center;
}

.button:hover, #submitNewReview:hover {
  background-color: #1d5374;
  color: white;
}

/* Model Button Styles */

.models-container {
  text-align: center;
  display: none;
}

.model {
  margin: 25px;
  border-radius: 25px;
  height: 250px;
  width: 400px;
  flex: 1 0 25%;
  text-align: center;
  font-size: 30px;
  display:inline-block;
}

.model:hover {
  background-color: red;
}

/* .overlay-container {
  position: relative;
  text-align: center;
  display: inline-block;
}

.overlay {
  margin: 25px;
  border-radius: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  opacity: 1;
  transition: .5s ease;
  background-color: #1d5374;
}

.overlay-container:hover .overlay {
  opacity: 0;
  display: none;
} */

.text {
  color: white;
  font-size: 42px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Model Page Styles */

.menuDiv {
  text-align: center;
}

.homeBtn {
  margin: 10px;
  border-radius: 10px;
  height: 30px;
  width: 70px;
  flex: 1 0 25%;
  text-align: center;
  font-size: 15px;
}

.homeBtn:hover {
  background-color: #1d5374;
  color: white;
}

.homeDiv {
  text-align: center;
}

.selectDiv {
  text-align: center;
}

/* Review Styles */

.revDiv {
  height: 350px;
}

#submitNewReview {
  border-radius: 10px;
  height: 30px;
  width: 150px;
  flex: 1 0 25%;
  text-align: center;
  font-size: 15px;
  margin: auto;
}

#review-form {
  text-align: center;
  width: 50%;
  float: left;
}

div#visible-reviews {
  overflow: scroll;
  height: 280px;
  width: 500px;
  font-size: 15px;
  color: #1d5374;
  display: inline-block;
}

#visible-reviews {
  background: white;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  border-radius: 25px;
  border-style: solid;
  border-width: 3px;
  border-color: #1d5374;
}

.visRevDiv {
  float: right;
  width: 50%;
  text-align: center;
}

#specificReviewTitle {
  color: #1d5374;
}

#review-name {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  font-size: 15px;
}

#newReview {
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #1d5374;
  font-size: 15px;
  background: #EBF2F5;
}

/* Video Styles */

.videoDiv {
  text-align: center;
  display: block;
  float: right;
  margin-right: 50px;
}

#airportVid {
  width: 50%;
  float: right;
}

/* Destination Styles */

.aiportMapContainer {
  display: inline-block;
}

#map {
  display: inline-block;
  height: 300px;
  width: 500px;
}

.map {
  height: 300px;
  width: 50%;
  float: left;
}

.destContainer {
  text-align: center;
  height: 350px;
  display: inline-block;
  width: 100%;
}

/* Dropdown Styles */

#dropDown, #airportDropDown {
  height: 50px;
  font-size: 25px;
}
